@using Praktikum_4_XML_and_doc_oriented_db.Models.Linq
@model IQueryable<Beiträge>


<nav>
    <ul id="navlist">
        <li><a href="~/Foren?id=@ViewBag.ForenID" target="_self">Zurück</a></li>
        <li><a href="~/Diskussion/Antworten?id=@Model.First().DiskussionsID" target="_self">Antworten</a></li>
    </ul>
</nav>

<h2>@ViewBag.Title</h2>

@if(ViewBag.ERROR == null)
{
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                &clubs; @item.Benutzer &clubs;<br />
                @item.Änderungsdatum
            </td>
            <td>@item.Mitteilung</td>
        </tr>
    }
</table>
}
else
{
    <h2>@ViewBag.ERROR</h2>
}
