@using System.Data.SqlClient
@using Website
@{  
        string title ="Module";
    //try
    //{ 
        string profName;
        string queryString = "SELECT Module.FachNummer, Module.Bezeichnung, Professoren.AkademischerTitel, Benutzer.Nachname, Benutzer.Nickname "+
                            "FROM Module "+
                            "INNER JOIN Professoren ON Professoren.Nickname = Module.Verantwortlicher "+
                            "INNER JOIN Benutzer ON Module.Verantwortlicher = Benutzer.Nickname "+
                            "ORDER BY Module.FachNummer ";
                      
        Layout = "~/layout/Layout.cshtml";

        if (Request.QueryString["logout"] == "true")
        {
            Session.Abandon();
            Response.Redirect("~/Login.cshtml");
        }
    
        
        var entry = new SqlEntry();
        var reader = entry.getReader(queryString);
    @*}   catch(SqlException e)
    {
        <p>@e.ToString()</p>
    }*@
    
    
}

@section title {
    <title>@title</title>
}

@section subpage {
     <a href="Default.cshtml" target="_self">zurück</a>
}


<h1>@title</h1>

<table border=1 width="100%">
	<tr>
		<th>Fach No.</th>
		<th>Bezeichnung</th>
		<th>Verantwortlicher</th>
	</tr>
    @while(reader.Read())
    {
    <tr>
		<td>@reader["FachNummer"]</td>
		<td>@reader["Bezeichnung"]</td>
		<td>
        @{
            profName = reader["AkademischerTitel"].ToString() + " ";
            profName += @reader["Nachname"].ToString();
            <a href="~/ProfSummary.cshtml?prof=@reader["Nickname"]">@profName</a>
        }
		</td>
	</tr>
    }
</table>