@using System.Data.SqlClient
@using Website
@{  
    string nickname = Request.QueryString["prof"];
    string queryString = "SELECT Professoren.AkademischerTitel, Benutzer.Nachname " +
                      "FROM Benutzer " +
                      "INNER JOIN Professoren ON Professoren.Nickname = Benutzer.Nickname " +
                      "WHERE Benutzer.Nickname = '" + nickname + "'";
    string title = "";
    
    Layout = "~/layout/Layout.cshtml";

    
    try 
    {
        var entry = new SqlEntry();
        var reader = entry.getReader(queryString);
        reader.Read();
        title = reader["AkademischerTitel"] + " " + reader["Nachname"];
    }   catch(SqlException e) 
    { 
        <p>Auf Daten kann nicht zugegriffen werden, bitte versuchen Sie es sp&aumlter wieder.</p> 
    }
}

@section title {
    <title>@title</title>
}

@section subpage {
     <a href="~/Module.cshtml" target="_self">zurück</a>
    }

<h1>@title</h1>

@RenderPage("~/profSummaryRenderPages/ForumProfSumm.cshtml", nickname)
@RenderPage("~/profSummaryRenderPages/DocProfSumm.cshtml", nickname)
@RenderPage("~/profSummaryRenderPages/ResponsProfSumm.cshtml", nickname)