@using System.Data.SqlClient
@{  
    string nickname = Request.QueryString["prof"];
    string sqlAddress = @"Data Source=TEST-PC\SQLEXPRESS;Initial Catalog=Praktikum;Persist Security Info=True;User ID=SA;Password=sa2014";
    string queryString = "SELECT Professoren.AkademischerTitel, Benutzer.Nachname " +
                      "FROM Benutzer " +
                      "INNER JOIN Professoren ON Professoren.Nickname = Benutzer.Nickname " +
                      "WHERE Benutzer.Nickname = '" + nickname + "'";
    string title = "";
    
    Layout = "~/layout/Layout.cshtml";

    SqlConnection connection = new SqlConnection(sqlAddress);
    SqlCommand query = new SqlCommand(queryString, connection);
    connection.Open();
    SqlDataReader reader = query.ExecuteReader();
    try {
        reader.Read();
        title = reader["AkademischerTitel"] + " " + reader["Nachname"];
        }
    catch(Exception excep) { <p>@excep</p> }
    connection.Close();
    }

@section title {
    <title>@title</title>
}

@section subpage {
     <a href="~/Module.cshtml" target="_self">zurück</a>
    }

<h1>@title</h1>

@RenderPage("~/profSummaryRenderPages/ForumProfSumm.cshtml", sqlAddress, nickname)
@RenderPage("~/profSummaryRenderPages/DocProfSumm.cshtml", sqlAddress, nickname)
@RenderPage("~/profSummaryRenderPages/ResponsProfSumm.cshtml", sqlAddress, nickname)